doctype
html
  head
    title XY (blind preference) test
    include includes/assets.jade
  body
    include includes/header.jade
    h1 XY (blind preference) test

    div#switches
      button#switchX.active X
      button#switchY Y

    div#trialInfo
      button#preferX Prefer X
      button#preferY Prefer Y

      p#trialNumber Trial 1
      p
        button#computeResults Results
        button#resetTest Reset
        
    p#results